 * {
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.aa{
    background-color: aqua;
    margin: -80;
    margin-top: -10px;
    padding: 10px;
    width: 100%;
    color: yellow;
}
.bb{
    font-size: 50px;
    padding: 10px;
}
.cc{
    float: right;
    word-spacing: 10px;
    padding: 10px;
    font-size: 30px;
}
.dd{
    margin: 0px;
    margin-top: -5px;
    font-size: 20px;
    background-image: url(mus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30ch;
    text-align: center;
    color: aqua;
}
.ee{
    text-align: center center;
    font-size: 20px;
}